{% extends "base.html" %}
{% block title %}{{config.blog_name}}{% endblock %}
{% block body %}
  {% for post in posts %}
    <h2><a href="{{post.path}}">{{post.title}}</a></h2>
    <p class="post-info">
      Posted by {{config.author_name}}
      {% if post.tags %}
        | Filed under
        {% for tag in post.tag_pairs %}
          <a href="/tag/{{tag.1}}">{{tag.0}}</a>
          {%- if not loop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    {{post.summary|safe}}
    <p class="postmeta">
      <a href="{{post.path}}" class="readmore">Read more</a> |
      {% if config.disqus_forum %}
        <a href="{{post.path}}#disqus_thread" class="readmore">Comments</a> |
      {% endif %}
      <span class="date">{{post.published.strftime(config.date_format)}}</span>
    </p>
    {% set post_len = loop.index %}
  {% endfor %}
  {% if handler_class != 'ArchiveHandler' %}
    {% if page > 1 %}
      <a id="prev" href="{{page_path}}/{{page-1}}">Newer</a>
    {% endif %}
    {% if post_len == 10 %}
      <a id="next" href="{{page_path}}/{{page+1}}">Older</a>
    {% endif %}
  {% endif %}
  {% if config.disqus_forum %}
    <script type="text/javascript">
    //<![CDATA[
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/{{config.disqus_forum}}/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
    </script>
  {% endif %}
{% endblock %}
