{% extends "base.html" %}
{% block title %}Search results - {{config.blog_name}}{% endblock %}
{% block body %}
<script>
  (function() {
    var cx = '{{ config.cse_id }}';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<div class="gcse-searchresults-only"></div>
{% endblock %}
